<div id="petition">
    If you really care about the Internet and our right to free speech, veto CISA.
</div>
<script type="text/javascript">
    new EmailPetitionController({
        el: '#petition',
        page_id: 'doesobamacare',
        required: ['email', 'zip', 'first_name', 'address1'],
        buttonText: 'Send Now',
        orgs: {
            fftf: '<a href="https://www.fightforthefuture.org" target="_blank">Fight for the Future</a> will email you with campaign updates. <a href="https://www.fightforthefuture.org/privacy" target="_blank">Privacy</a>',
            rt4: '<a href="http://www.restorethe4th.com/" target="_blank">Restore the Fourth</a> will email you with campaign updates. <a href="http://www.restorethe4th.com/privacy/" target="_blank">Privacy</a>'
        },
        onSend: function(formData)
        {

            new CallModalController({
                campaign:           'obama-cisa-blanket',
                zip:                formData.zip,
                headline:           'Thanks! Now can you call the White House?',
                cta:                'Obama needs to understand that CISA is a dirty mass surveillance bill that won\'t protect us from cyber attacks. Enter your phone number and we\'ll connect you to the White House, or dial 1-985-222-CISA on your phone.',
                callInstruction:    'Please be polite and tell the staffer:',
                callScript:         'I\'m asking President Obama to veto cyber information sharing bills like CISA that threaten our privacy and security.',
                shareText:          'We\'re up against some of the most powerful corporate lobbyists in the country, but that hasn\'t stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.',
            });

            var
                form = document.getElementById('petition').getElementsByTagName('form')[0],
                thanks = document.getElementById('thanks');

            document.getElementById('form-headline').classList.add('hidden');
            thanks.classList.remove('hidden');
            form.removeAttribute('style');
            form.innerHTML = '';
            form.appendChild(thanks);
        }
    });
</script>
