---
layout: default
---
{% include nav.html %}
<br><br><br>
<h3 class="cta">BREAKING: Media reports indicate that Congress has cut a deal to put the final version of CISA &mdash; a bill that gives corporations legal immunity to share your private data with the Federal government &mdash; into the "omnibus" must-pass budget bill.</h3>
<div id="targets"><div class="side0"></div><div class="side1"></div></div>
<br/><br/><br/>
<h2>Dial 1-985-222-CISA</h2>
<h3>TO CALL THE WHITE HOUSE.</h3>

<section class="copy">

    {% for post in site.posts %}
    {% if forloop.first or post.expanded %}
    <article id="{{ post.slug }}" class="expanded">
    {% else %}
    <article id="{{ post.slug }}">
    {% endif %}
        <h1>
            <a href="#{{ post.slug }}" class="expand-me">
                {{ post.title }}
            </a>
        </h1>
        <time datetime="{{ post.date | date_to_rfc822 }}"></time>
        {{ post.content }}
        {% if forloop.first == false and post.expanded != true %}
        <a href="#{{ post.slug }}" class="expand-me more">Learn more&hellip;</a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% include methodology-modal.html %}
{% include action-bar.html %}
